.theme-btn-main {
  display: inline-flex;
  align-items: center;
  gap: 0;
  position: relative;
  transition: all 0.4s ease;
  text-transform: uppercase;

  &.style-2 {
	background-color: $theme-color;
	padding: 7px 30px;
	padding-right: 7px;

	.theme-btn-arrow-left,
	.theme-btn-arrow-right {
		width: 43px;
		height: 43px;
		background: $white;
		color: $theme-color;
	}

	.theme-btn {
		background-color: transparent;
		padding: 0;
		margin-right: 17px;
		font-weight: 600;
	}

	&:hover {
		padding-right: 30px;
		padding-left: 9px;

		.theme-btn {
			background-color: transparent;
		}

		.theme-btn-arrow-left {
			left: 5px;
		}
	}
  }
  
 
  &:hover {
    .theme-btn-arrow-left {
      scale: 1;
    }

    .theme-btn-arrow-right {
      scale: 0;
    }

    .theme-btn {
      transform: translateX(56px);
    }
  }

  .theme-btn-arrow-left,
  .theme-btn-arrow-right {
    width: 53px;
    height: 53px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $theme-color;
    color: $white;
    transition: 0.4s;
    text-align: center;

	@include breakpoint (max-sm){
		width: 48px;
		height: 48px;
	}
  }

  .theme-btn-arrow-left {
    scale: 0;
    position: absolute;
    left: 3px;
  }

  .theme-btn {
    background: $theme-color;
    color: $white;
    font-weight: 600;
    font-size: 16px;
	  padding: 13px 30px;
    display: inline-flex;
	  font-family: "Barlow", sans-serif;
    align-items: center;
    gap: 30px;
    transition: 0.4s;

  	@include breakpoint (max-sm){
		 font-size: 14px;
    	padding: 10px 25px;
	  }
  }

  &:hover {
	.theme-btn {
		background-color: $header-color;
	}

	.theme-btn-arrow-left,
  	.theme-btn-arrow-right {
		background-color: $white;
	}
  }
}

.link-btn {
  color: $header-color;
  font-weight: 700;
  font-weight: "Barlow", sans-serif;
  text-decoration: underline;
  @include transition;

  i {
    margin-left: 15px;
  }

  &:hover {
    color: $theme-color;
  }
}


.theme-btn-2 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: $theme-color;
    font-family: "Unbounded", sans-serif;
    padding: 18px 34px;
    color: $white;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    @include transition;
    text-transform: uppercase;

    @include breakpoint (max-sm){
      font-size: 14px;
      padding: 12px 26px;
    }

  i {
     margin-left: 5px;
  }


  &::before {
     content: "";
    height: 0px;
    width: 0px;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }

  &:hover {
    color: $header-color;

    &::before {
        height: 400px;
        width: 200%;
        top: -70%;
        left: -46%;
    }
  }
}