.project-section {
  overflow: hidden; 

  .container-fluid {
    padding: 0 80px;
    overflow: hidden; 

    @include breakpoint (max-xl4) {
        padding: 0 70px;
    }

        @include breakpoint (max-xxxl) {
        padding: 0 50px;
    }

    @include breakpoint (max-xxl) {
        padding: 0 30px;
    }

    @include breakpoint (max-sm) {
        padding: 0 15px;
    }
  }

  h2 {
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 48px;

     @include breakpoint (max-xxl) {
        font-size: 60px;
        margin-bottom: 30px;
    }

    @include breakpoint (max-lg) {
        font-size: 40px;
    }

    @include breakpoint (max-md) {
        font-size: 23px;
    }

  }

  .swiper {
    overflow: hidden; 
  }

  .swiper-slide {
     transition: transform 0.6s ease, opacity 0.6s ease;
    transform: scale(0.85);
    margin: 0;
    z-index: 1; 
    position: relative; 

    .project-card-item-style-1 {
      .project-image {
        height: 632px;

        @include breakpoint (max-lg) {
            height: 550px;
        }

        @include breakpoint (max-md) {
            height: 450px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.6s ease;
        }
      }
    }
  }

  .swiper-slide-active {
   transform: scale(1);
    z-index: 3;

    .project-card-item-style-1 {

        .project-image {
            .project-box {
                opacity: 1;
                visibility: visible;
            }
            img {
                transform: scale(1.18);
            }
        }
    }
  }
}

.project-card-item-style-1 {

    .project-image {
        // max-width: 471px;
        height: 632px;
        position: relative;

        img {
            @include imgw;
            object-fit: cover;
        }

        .project-box {
            background-color: $white;
            @include flex;
            justify-content: space-between;
            padding: 20px;
            opacity: 0;
            visibility: hidden;
            @include transition;
            position: absolute;
            left: -30px;
            bottom: 20px;
            max-width: 538px;
            width: 100%;

            @include breakpoint (max-xxxl) {
                left: -15px;
            }

            @include breakpoint (max-xxl) {
                left: -20px;
            }

            @include breakpoint (max-lg) {
                flex-wrap: wrap;
                gap: 20px;
                left: 0px;
                max-width: 320px;
            }

            .content {
                h4 {
                    margin-bottom: 10px;
                    font-size: 24px;
                    font-weight: 600;

                    @include breakpoint (max-xxl) {
                        font-size: 20px;
                    }

                    a {
                        background-position: 0 95%;
                        background-repeat: no-repeat;
                        background-size: 0% 2px;
                        display: inline;
                        
                        &:hover {
                            color: $theme-color;
                            background-size: 100% 2px;
                            background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                        }
                    }
                }

                .list {
                    li {
                        @include flex;
                        gap: 50px;
                        font-weight: 600;
                        color: #535A63;

                        span {
                            font-weight: 500;
                            color: #91969C;
                        }

                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .arrow {
                width: 69px;
                line-height: 69px;
                height: 69px;
                text-align: center;
                color: $white;
                background-color: $theme-color;
                font-size: 25px;
                @include transition;

                &:hover {
                    background-color: $header-color;
                }
            }
        }
    }
}


.project-box-items-style-2 {

    .project-image {
        position: relative;
        overflow: hidden;

        img {
            @include imgw;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }

        &::before {
            @include before;
            background: linear-gradient(186.68deg, rgba(17, 17, 17, 0) 59.3%, rgba(17, 17, 17, 0.86) 90.19%);
            opacity: 0;
            visibility: hidden;
            @include transition;
        }

        .arrow {
            width: 79px;
            height: 79px;
            line-height: 79px;
            text-align: center;
            color: $white;
            background-color: $theme-color;
            top: 30px;
            position: absolute;
            font-size: 25px;
            right: -30px;
            opacity: 0;
            display: inline-block;
            visibility: hidden;
            @include transition;

            @include breakpoint (max-xl){
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
            }

            &:hover {
                background-color: $header-color;
            }
        }

        .content {
            position: absolute;
            left: -30px;
            bottom: 30px;
            opacity: 0;
            visibility: hidden;
            @include transition;

            h3 {
                font-size: 28px;
                font-weight: 700;
                line-height: 150%;

                @include breakpoint (max-xxl) {
                    font-size: 20px;
                }

                @include breakpoint (max-sm) {
                    font-size: 20px;
                }

                a {
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline;
                    color: $white;
                    
                    &:hover {
                        color: $theme-color;
                        background-size: 100% 2px;
                        background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                    }

                    @include breakpoint (max-xxl) {
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &:hover {
        .project-image {

            &::before {
                opacity: 1;
                visibility: visible;
                z-index: 999;
            }

             img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }

            .arrow {
                opacity: 1;
                visibility: visible;
                right: 30px;
                z-index: 999;
            }

            .content {
                left: 30px;
                opacity: 1;
                visibility: visible;
                z-index: 999;
            }
        }
    }
}

.project-section-2 {

    .project-slider-2 {
        margin-left: -300px;
        margin-right: -300px;

        @include breakpoint (max-xxl) {
            margin-left: 0;
            margin-right: 0;
        }

        .swiper-wrapper {
            align-items: center;
        }
    }
}

.project-card-item-style-5 {

    .content {
        margin-bottom: 30px;

        p {
            font-weight: 500;
            text-transform: uppercase;
        }

        h3 {
            font-size: 28px;
            font-weight: 600;
            line-height: 160%;

            @include breakpoint (max-xxl) {
                font-size: 20px;
            }

            @include breakpoint (max-sm) {
                font-size: 20px;
            }

            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
        }
    }
    .project-image {
        position: relative;
        overflow: hidden;

        img {
            @include imgw;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    &:hover {

        .project-image {
             img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }

        }
    }
}

.project-section-5 {

    .project-slider-5 {
       margin-left: -330px;
       margin-right: -430px;

       @include breakpoint (max-xxl){
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .shop-pagi-items {
        text-align: center;
        margin-bottom: 80px;

        @include breakpoint (max-xxl){
            display: none;
        }

        .project-dot {
            .swiper-pagination-bullet {
                width: 505px;
                height: 1px;
                border-radius: 0;
                background: rgba(30, 32, 35, 0.19);
                opacity: 1;
                transition: 0.6s;
                margin: 0 !important;

                @include breakpoint (max-xl4){
                    width: 340px;
                }
            }
    
            .swiper-pagination-bullet-active {
                opacity: 1;
                background: $theme-color;
                width: 395px;
                height: 2px;
            }
    
            @include breakpoint (max-md){
                display: none;
            }
        }
    }
}

.project-thumb-box-4 {
    position: relative;
    z-index: 99;
    margin-top: 30px;
    overflow: hidden;
    height: 396px;

    @include breakpoint (max-md){
        height: 480px;
    }

    img {
        @include imgw;
        object-fit: cover;
        position: relative;
        display: block;
        object-fit: cover;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;

        &:first-child {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            -webkit-transform: translateX(50%) scaleX(2);
            transform: translate(50%) scaleX(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px)
        }
    }

    .project-content-area {
        @include flex;
        gap: 120px;
        background-color: $white;
        padding: 30px;
        position: absolute;
        bottom: 20px;
        left: -100px;
        opacity: 0;
        visibility: hidden;
        @include transition;
        z-index: 99;

        @include breakpoint (max-xxxl){
            flex-wrap: wrap;
            gap: 30px !important;
        }

        .content {
            h4 {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 18px;

                @include breakpoint (max-xl){
                    line-height: 132%;
                }

                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            ul {
                li {
                    display: flex;
                    gap: 30px;

                    b {
                        font-size: 16px;
                        font-weight: 600;
                        color: #535A63;
                    }

                    span {
                        color: #91969C;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            &.content-style-10 {
                h4 {
                    font-family: $heading-font-2;
                }
            }
        }

        .arrow-btn {
            width: 69px;
            height: 67px;
            line-height: 67px;
            background-color: $theme-color;
            color: $white;
            text-align: center;
            font-size: 20px;

            &:hover {
                background-color: $header-color;
                color: $white;
            }
        }
    }

    &.style-2 {
        .project-content-area {
            gap: 60px;
            padding: 24px;

            @include breakpoint (max-xxxl){
                flex-wrap: wrap;
                gap: 30px !important;
            }

            .content {
                h4 {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 10px;

                    @include breakpoint (max-xl){
                        line-height: 132%;
                    }
                }
            }

            .arrow-btn {
                width: 50px;
                height: 48px;
                line-height: 48px;
                font-size: 15px;
            }
        }
    }

    &:hover {
        img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }

        .project-content-area {
            opacity: 1;
            visibility: visible;
            left: 0;
        }
    }
}

.project-details-sidebar {
    margin-top: 40px;

    .sidebar-widget {
        background-color: #F9F9F9;
        padding: 40px;

        @include breakpoint (max-xxl){
            padding: 26px;
        }

        .sideber-title {
            margin-bottom: 20px;

            h4 {
                font-size: 18px;
                font-weight: 700;
            }
        }

        .project-infrom {
            li {
                display: flex;
                align-items: center;
                gap: 30px;

                .icon {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: $white;
                    color: $theme-color;
                }

                .content {
                    h4 {
                        font-size: 16px;
                        font-weight: 600;

                        @include breakpoint (max-xxl){
                            line-height: 1.4;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

.project-details-top-image {
    margin-bottom: 40px;

    img {
        @include imgw;
    }
}

.project-details-content {
    h2 {
        font-size: 46px;
        font-weight: 500;

        @include breakpoint (max-md){
            font-size: 38px;
        }

         @include breakpoint (max-sm){
            font-size: 32px;
        }
    }

    p {
        margin-top: 20px;
    }

    h3 {
        font-size: 28px;
        font-weight: 600;
        margin-top: 20px;

          @include breakpoint (max-sm){
            font-size: 20px;
        }
    }

    .image-items {
        margin-top: 30px;

        .project-image {
            img {
                @include imgw;
            }
        }
    }

    .slider-button {
        border-top: 1px solid #E4E4E4;
        border-bottom: 1px solid #E4E4E4;
        margin-top: 65px;
        padding: 25px 0;

        span {
            font-weight: 500;
        }

        .cmn-next,
        .cmn-prev {
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 50%;
            transition: all 0.4s;
            border: 1px solid #E4E4E4;

            i {
                color: $theme-color;
                font-size: 24px;
                transition: all 0.4s;
            }

            &:hover {
                background: $theme-color;
                border-color: $theme-color;

                i {
                    color: $white;
                }
            }
        }

        .previus-text {
            font-size: 22px;
            color: $header-color;
        }

        .icon-gird {
            font-size: 40px;
            color: #0F172A;
        }
    }
}


.gallery-section-inner {
    margin: 25px;
}

.gallery-card-item-inner {
    .gallery-image {
        position: relative;

        img {
            @include imgw;
            object-fit: cover;
        }

        &::before {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scale(0.7);
            content: "";
            position: absolute;
            background: rgba(244, 91, 30, 0.68);
            z-index: 1;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
        }

        .icon {
            position: absolute;
            font-size: 38px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 99;
            color: $white;
            opacity: 0;
            @include transition;
        }

        &.style-height {
            height: 905px;

            @include breakpoint (max-xxxl){
                height: 660px;
            }

            @include breakpoint (max-xxl){
                height: 635px;
            }
            

            img {
                object-fit: cover;
            }
        }
    }

    &:hover {
        .gallery-image {

            &::before {
                transform: scale(1);
                opacity: 1;
                visibility: visible;
            }

            .icon {
                opacity: 1;
            }
        }
    }

    &.style-2 {
        margin-top: 30px;
    }
}

.gallery-section-61 {
    margin: 27px;

    @include breakpoint (max-xl){
        margin: 20px;
    }

    .gallery-card-item-inner .gallery-image.style-height{
        height: 882px;

        @include breakpoint (max-xxxl){
            height: 655px;
        }

         @include breakpoint (max-xxl){
            height: 610px;
        }

         @include breakpoint (max-xl){
            height: 500px;
        }
    }
}

.project-wrapper-7 {
    margin-left: -290px;
    margin-right: -290px;

    @include breakpoint (max-xl){
        margin-left: 0;
        margin-right: 0;
    }
}

.project-box-area-style-7 {
    @include flex;
    gap: 55px;
    margin-top: 30px;

    @include breakpoint (max-xl){
        display: block;
        gap: 30px;
    }

    .project-thumb {
        overflow: hidden;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
            height: 450px;

            img {
                object-fit: cover;
            }
        }

         img {
            @include imgw;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    .project-content {
        @include breakpoint (max-xl){
            margin-top: 25px;
            text-align: center;
        }
        h2 {
            font-size: 112px;
            font-weight: 500;
            color: rgba(234, 234, 234, 0.65);

            @include breakpoint (max-xl){
                font-size: 55px;
                line-height: 1;
            }
        }

        .text-box {
            font-size: 14px;
            font-weight: 600;
            border: 1px solid $theme-color;
            padding: 0 20px;
            text-align: center;
            height: 40px;
            line-height: 3;
            display: inline-block;
            margin-top: 25px;
            color: $theme-color;
            @include transition;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }

        h3 {
            font-size: 24px;
            margin-top: 30px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        .location-area {
            margin-top: 30px;
            @include flex;
            gap: 20px;

            @include breakpoint (max-xl){
                justify-content: center;
            }

            .icon {
                width: 35px;
                height: 34px;
                background-color: rgba(244, 91, 30, 0.1);
                color: $theme-color;
                text-align: center;
            }
        }
    }

    &:hover {
        .project-thumb {
             img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
    }
}


.project-section-8 {
    .section-title-area {
        align-items: initial;

        .title {
            font-size: 52px;
			font-weight: 700;
			line-height: 125%;
			letter-spacing: -2px;
			font-family: $heading-font-2;
        }
    }
}
.project-thumb-box-8 {
    margin-top: 30px;

    .project-image {
        position: relative;
        overflow: hidden;

        img {
            @include imgw;
            object-fit: cover;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    .project-content-area {
        @include flex;
        justify-content: space-between;
        padding: 20px 0;
        @include transition;

        .content {
            h4 {
                margin-bottom: 13px;
                font-size: 28px;
                font-weight: 600;
                line-height: 107%;
                font-family: $heading-font-2;

                @include breakpoint (max-xxl) {
                    font-size: 20px;
                }

                a {
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline;
                    
                    &:hover {
                        color: $theme-color;
                        background-size: 100% 2px;
                        background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                    }
                }
            }

            ul {
                li {
                    @include flex;
                    gap: 50px;
                    color: #535A63;

                    span {
                        font-weight: 500;
                        color: #91969C;
                    }

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .arrow-btn {
            width: 69px;
            line-height: 69px;
            height: 69px;
            text-align: center;
            color: $header-color;
            border: 1px solid $border-color;
            font-size: 25px;
            @include transition;
        }
    }

    &:hover {
        img {
            &:first-child {
                -webkit-transform: translateX(0) scaleX(1);
                transform: translate(0) scaleX(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0)
            }

            &:nth-child(2){
                -webkit-transform: translateX(-50%) scaleX(2);
                transform: translateX(-50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }

        .arrow-btn {
            background-color: $theme-color;
            color: $white;
            border: 1px solid transparent;
        }
    }

    &.style-2 {
        margin-top: -205px;

        @include breakpoint (max-xl) {
            margin-top: -185px;
        }

        @include breakpoint (max-lg) {
            margin-top: -156px;
        }

        @include breakpoint (max-md) {
            margin-top: 0;
        }
    }
}



.project-box-items-style-9 {
    margin-top: 30px;

    .project-image {
        position: relative;
        overflow: hidden;

        img {
            @include imgw;
        }

        &::before {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scale(0.7);
            content: "";
            position: absolute;
            background: rgba(30, 32, 35, 0.5);
            z-index: 1;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
        }

        .view-btn {
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            color: $white;
            border-radius: 50%;
            background-color: $theme-color;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            font-weight: 600;
            opacity: 0;
            display: inline-block;
            visibility: hidden;
            @include transition;

            @include breakpoint (max-xl){
                width: 70px;
                height: 70px;
                line-height: 70px;
                font-size: 16px;
            }

            &:hover {
                background-color: $white;
                color: $theme-color;
            }
        }

        .content {
            position: absolute;
            left: -30px;
            bottom: 40px;
            opacity: 0;
            visibility: hidden;
            @include transition;

            p {
                color: $white;
                margin-bottom: 10px;
            }

            h3 {
                font-size: 20px;
                font-weight: 600;
                letter-spacing: -0.6px;
                font-family: $heading-font-2;

                a {
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline;
                    color: $white;
                    
                    &:hover {
                        color: $theme-color;
                        background-size: 100% 2px;
                        background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                    }
                }
            }
        }
    }

    &:hover {
        .project-image {

            &::before {
                transform: scale(1);
                opacity: 1;
                visibility: visible;
            }

            .view-btn {
                opacity: 1;
                visibility: visible;
                right: 30px;
                z-index: 999;
            }

            .content {
                left: 30px;
                opacity: 1;
                visibility: visible;
                z-index: 999;
            }
        }
    }
}


.project-section-11 {
    position: relative;

    .custom-container-2 {

        @include breakpoint(max-xxl){
            padding: 0 60px;
        }

        @include breakpoint(max-xl){
            padding: 0 50px;
        }

        @include breakpoint(max-lg){
            padding: 0 40px;
        }

        @include breakpoint(max-md){
            padding: 0 20px;
        }

        @include breakpoint(max-xxs){
            padding: 0 15px;
        }
    }

    .container-fluid {
        padding: 0 150px;

        @include breakpoint(max-xxxl){
            padding: 0 70px;
        }

        @include breakpoint(max-xxl){
            padding: 0 60px;
        }

        @include breakpoint(max-xl){
            padding: 0 50px;
        }

        @include breakpoint(max-lg){
            padding: 0 40px;
        }

        @include breakpoint(max-md){
            padding: 0 20px;
        }

        @include breakpoint(max-xxs){
            padding: 0 15px;
        }
    }

    .section-title-area {
        .project-btn-area {
            p {
                br {
                    @include breakpoint(max-sm){
                        display: none;
                    }
                }
            }
        }
    }
}



.project-box-items-style-11 {
    position: relative;

    .thumb {
        margin-top: 30px;
        overflow: hidden;
        position: relative;
        
        img {
            @include imgw;
            position: relative;
            display: block;
            object-fit: cover;
            z-index: 888;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }

        .content {
            position: absolute;
            left: -30px;
            bottom: 40px;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            @include transition;
            
            h3 {
                font-size: 20px;
                font-weight: 600;
                letter-spacing: -0.6px;
                background-color: $white;
                padding: 12px 30px;

                @include breakpoint(max-xxxl){
                    font-size: 18px;
                    padding: 10px 17px;
                }


                a {
                    color: $header-color;
                }

                &:hover {
                    a {
                        color: $theme-color;
                    }    
                }
            }

            p {
                background-color: $theme-color;
                color: $white;
                padding: 5px 0;
                margin-top: 8px;
                justify-content: center;
                width: 155px;
                display: flex;
                position: relative;
                z-index: -1;

                @include breakpoint(max-xxxl){
                    padding: 3px;
                }
            }
        }
    }
    
    &:hover {
        .thumb {
             img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
        
        .content {
            left: 0;
            opacity: 1;
            visibility: visible;
            z-index: 999;
        }
    }
}