
//page scroll bar add
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $bg-color; 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 30px;
      height: 30px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End


 .array-buttons {
  @include flex;
  gap: 20px;

  .array-prev {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: $theme-color;
    border: 1px solid $theme-color;
    @include transition;
    z-index: 999;
    background-color: $white;

    &:hover {
        background-color: $theme-color;
        color: $white;
    }
 }

.array-next {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: $theme-color;
    border: 1px solid $theme-color;
    @include transition;
    z-index: 999;
    background-color: $white;

    &:hover {
        background-color: $theme-color;
        color: $white;
    }
 }
}
//pagination default

//pagination default

.swiper-dot {
  text-align: center;

  .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      transition: 0.6s;
      background-color: $white;
      
      border-radius: 0;
      opacity: 1;
      position: relative;
      &:not(:last-child){
        margin-right: 15px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      border: 1px solid $theme-color;
      transition: 0.6s;
      position: relative;
      width: 5px;
      height: 5px;
      border-radius: 0;

      &::before {
        @include before;
        border: 1px solid $theme-color;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
  }

}

.swiper-dot-2 {
  text-align: center;

  .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      transition: 0.6s;
      background-color: $white;
      border-radius: 30px;
      opacity: 1;
      position: relative;
      &:not(:last-child){
        margin-bottom: 30px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      border: 1px solid $theme-color;
      transition: 0.6s;
      position: relative;
      width: 5px;
      height: 5px;
      border-radius: 30px;

      &::before {
        @include before;
        border: 1px solid $theme-color;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
      }
  }

}
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.brand-slide-element {
	width: auto;
	display: inline-block;
}


.footer-bg {
  background-color: $header-color;
}

.page-nav-wrap {
  margin-top: 60px;

  ul {
      li {
          display: inline-block;

          &.active {

            .page-numbers {
              background-color: $theme-color;
              color: $white;
              border: 1px solid $theme-color;
            }
          }

          .page-numbers {
              &.current {
                  background-color: $theme-color;
                  color: $white;
              }

              display: inline-block;
              width: 48px;
              height: 48px;
              text-align: center;
              line-height: 48px;
              border-radius: 100px;
              border: 1px solid $theme-color;
              background: transparent;
              color: $theme-color;
              font-weight: 600;
              font-size: 18px;
              transition: all 0.3s ease-in-out;
              margin: 0 5px;

              i {
                  margin-top: 2px;
              }
              &:hover {
                  background-color: $theme-color;
                  color: $white;
                  border: 1px solid $theme-color;
              }
          }
      }
  }
}

.sticky-style {
  position: sticky !important;
  top: 100px;
}

.split-text {
    overflow: hidden;
    position: relative;
}

.box-shadow-1 {
  box-shadow: 8px 6px 51.3px 151px rgba(10, 3, 46, 0.03) !important;
}

.box-bg-1 {
  background-color: #f7f7f7 !important;
}

.container-2 {
  max-width: 1320px;
}

.text-clr {
	color: $text-color;
}
.text-black2 {
	color: $black2;
}
.theme-clr {
	color: $theme-color !important;
}
.theme-border {
	border: 1px solid $theme-color;
}

.py-onehalf {
	padding-top: 6px;
	padding-bottom: 6px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.link-effect {
	background-position: 0 95%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	display: inline;

	&:hover {
		color: $theme-color;
		background-size: 100% 2px;
		background-image: linear-gradient(
			180deg,
			$theme-color 0%,
			$theme-color 100%
		);
	}
}
//Color

//Font Size
.fs-10 {
	font-size: 10px;
}
.fs-12 {
	font-size: 12px;
}
.fs-14 {
	font-style: 14px;
}
.fs-16 {
	font-style: 16px;
}

.fs-18 {
	font-style: 18px;
}
.fs-25 {
	font-size: 25px;
	@include breakpoint(max-xxl) {
		font-size: 22px;
	}
	@include breakpoint(max-xl) {
		font-size: 20px;
	}
	@include breakpoint(max-md) {
		font-size: 19px;
	}
}
//Font Size


//Hover

//Font
.body-font {
	font-family: $body-font;
}
.heading-font {
	font-family: $heading-font;
}

//Font

.container1320 {
	@include breakpoint(xxl) {
		max-width: 1350px;
		margin: 0 auto;
	}
}



.image__effect {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	width: 100%;
	&::after {
		content: "";
		position: absolute;
		width: 200%;
		height: 0%;
		left: 50%;
		top: 50%;
		background-color: rgba(255, 255, 255, 0.3);
		transform: translate(-50%, -50%) rotate(-45deg);
		z-index: 1;
	}

	img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		transition: all 1.5s ease-out;
	}
	&:hover {
		&::after {
			height: 250%;
			transition: all 600ms linear;
			background-color: transparent;
		}

		img {
			-webkit-transform: scale3d(1.1, 1.1, 1);
			transform: scale3d(1.1, 1.1, 1);
		}
	}
}


.d-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-bg-1 {
	background-color: $bg-color;
}

.text-bg {
	background-color: $text-color;
}

.black-bg {
	background-color: $black;
}

.theme-bg {
	background-color: $theme-color;
}

.slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.brand-slide-element {
	width: auto;
	display: inline-block;
}

.swiper-dot-1 {
    text-align: center;
    margin-top: 60px;
    z-index: 1;

    .swiper-pagination-bullet {
         width: 12px;
         height: 12px;
         transition: 0.6s;
         border: 1px solid $theme-color;
         background-color: transparent;
         opacity: 1;
         border-radius: 0px;
         &:not(:last-child){
          margin-right: 10px;
        }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $theme-color;
        transition: 0.6s;
        position: relative;

        &::before{
          position: absolute;
          width: 20px;
          height: 20px;
          line-height: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border-radius: 0;
          background-color: transparent;
          border: 1px solid $theme-color;
          content: "";
        }
    }
}

.custom-container-2 {
    max-width: 1224px;
    margin: 0 auto;
}

.custom-container-3 {
    max-width: 1220px;
    margin: 0 auto;
}

.actually-area .t_line>div {
  background-image: linear-gradient(to right, var(--header) 50%, #0F172A4C 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}